@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;0,700;1,400&family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-font: "Permanent Marker", "sans-serif";
  --text-font: "KoHo", "sans-serif";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: var(--title-font);
}

p {
  font-family: var(--text-font);
}

.fullscreen {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background: #FFE8CF;
}

.svg-modal {
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 5% bottom 97%;
  background-size: auto 2.5em;
  background-image: url("./assets/close.png");
}